.head {
    color: red;
    font-size: 24px;
}

h1 {
    color: white;
    align-content: center;
}

.city {
    color: black;
}

.btn {
    background-color: rgb(8, 153, 243);
}

.list-group-item {
    color: black;
    cursor:pointer
}

#city {
    border: 1px solid gray;
    border-radius: 5px;
}

.card-deck {
    color: white;
    font-weight: bold;
}

.hide {
    display: none;
}

.severe {
    background-color: red;
}

.moderate {
    background-color: yellow;
}

.favorable {
    background-color: green;
}

.capitalize {
    text-transform: capitalize;
}

#weather-today {
    background-color: lightsteelblue;
}
